
html{
    margin: 0;    
}

body{
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

h2{
    margin-top: 3vh;
}

h4{
    margin-top: 3vh;
}

.login{
    margin-top: 25vh;
    margin-left: 30.7vw;
    width: 50%;    
}

.titl{
    margin-left: 0.3vw;
}

.form{
    margin-top: 1.5vh;
}

.fatwgo{
    position: absolute;
    margin-left: -0.5vh;
    
}
.fcb{
    margin-top: 0.65vh;
    width: 1.1%;
}

.twt{
    margin-top: 0.3vh;
    width: 4%; 
}

.gp{
    margin-top: 0.7vh;
    width: 4%; 
}

.ftg{
    display: flex; 
}

.redes {
    margin-top: 2vh;
}

.social{
    opacity: 0.5;
    border: 0.2vh solid white;
}

#latin{
    margin-top: -0.5vh;
}

#text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 0.05vh solid white; */
    text-align: center;
    font-size: x-large;
    margin-bottom: 2.5vh;
}

#login{
    margin-bottom: 1.5vh;
    background-color: #4addc1;
    border: 0;
    color: black;
}

#info{
    background-color: white;
    color: #bbb9b9;
    border-radius: 0.5vh 0.5vh 0 0;
    height: 13vh;
}

#form{
    background-color: #e1e1e1;
    color: white;
    border-radius: 0 0 0.5vh 0.5vh;        
}

#col_img{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#img{
    width: 180%;
    margin-top: 50%;
}




